@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@1,600&display=swap');
.home {
  z-index: 22;
  height: 80vh;
  width: 90vw;
  position: relative;
  top: 50%;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}
.name {
  font-size: 5rem;
  /* position: relative;
  top: 0%;
  left: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: fit-content; */
  font-family: 'Berkshire Swash', cursive;
  color: #d59f76;
}

the {
  font-size: 3rem;
  margin: 0%;
  padding: 0%;
  position: absolute;
  top: 0%;
  left: 2rem;
}
quiz {
  font-size: 5rem;
  font-weight: bolder;
  margin: 0%;
  padding: 0%;
  position: absolute;
  top: 1.9rem;
}
game {
  font-size: 3rem;
  margin: 0%;
  padding: 0%;
  position: absolute;
  top: 6rem;
  right: 2rem;
}

.discription {
  width: 50%;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  font-family: 'Spectral', serif;
  font-weight: 900;
  color: #bd8860;
}

name {
  margin-left: 1.5rem ;
}



.home-btn {
  position: absolute;
  bottom: 0%;
  right: 0%;
  background-color: #d59f76;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}
